.header {
    background: linear-gradient(to right, #47a9e5, #0000ff);
    color: #fff;
    padding: 5px;
    /* position: re; */
    width : 100%;
    top: 0;
}
 .logo {
    width: 75px;
    height:none;
 }

.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;   
}