 .container {
  /* width: 100%;
  height:100%;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: hsl(231, 24%, 94%);
  position: relative; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  text-align: center;
}

button {
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: #007bff; /* Button Background Color */
  color: #fff; /* Button Text Color */
  padding: 10px 20px; /* Button Padding */
  border: none; /* Remove Button Border */
  border-radius: 10px; /* Button Border Radius */
  font-size: 16px; /* Button Font Size *
  top:30%;
  left:20%;
  /* transform: translate(+120%, -50%) */
  
  
}

button:hover {
  background-color: #20466c;
}

.form-box {
  width: 100%;
  max-width: 50px;
  margin: 10px;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 300px 200px; 
  align-items: center; 
}



  
label {
  display: block;
  margin-top: 20px;
}
  
input[type="text"], input[type="submit"], [type="number"], [type="email"] {
  width: 100%;
  padding: 7px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

textarea.address {
  width: 200px; /* Set the width as desired */
  height: 150px; /* Set the fixed height */
  resize: none;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}


input[type="number"]::-webkit-inner-spin-button ,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  
}
