<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <title>Login Form</title>
  
</head>
<body>
  <div class="container">
    <h3 class="center" style="color: rgb(10, 139, 55) ">User Login</h3>  <br>
    <!-- <form > -->
      <div class="mobile">
          <div class="background"> <i class="fa fa-mobile"> </i> </div>
          <div class="mobilebox"> 
            <input name="username" id="username" class="form-control" placeholder="10 Digit Mobile Number" pattern="[0-9]{10}" type="text" required="required" data-error="Please enter your User ID">
          </div>
      </div>

      <br>

      <div>
        <button type="button" (click)=(submitform) class="button-otp" style = "font-size: small" >Get OTP </button>
        
      </div>
      <br> <br>
    <!-- </form> -->
    
    <div style="text-align: center;">
      <p > don't have an account?</p> 
      <a class="reg" routerLink='/signin' >Sign in </a>
    </div>
    
    

</div>
</body>
</html>
