
    body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      /* background-color: ; */
      background: white;
      height: calc(100% - 40px);
      padding: 10px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width:  calc(100% - 20px)
    }
    h3 {
      margin-top: 0;
      font-weight: bold;
    }
    .center {
      text-align: center;
  }
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 30%;
  padding: 10px;
  border: none;
  margin: 3px;
  
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.button-primary {
  /* background-color: #007bff; */
  color: red;
  background-color: white;
}
.button-primary:hover {
  /* background-color: #0056b3; */
  color: rgb(125, 6, 6);
}
.button-otp {
  background-color:#4CAF50;
  width: 25%;
  padding: 5px;
  border: none;
  margin: 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 75% ;
  
}
.button-otp:hover {
  background-color: #2b652d;
}

.icon {
  position: absolute;
  top : calc(38%);
  left: calc(91%);
}

.icon2 {
  position: absolute;
  top : calc(40%);
  left: calc(90%);
}

.div1{
  position: relative;
}
